.scan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .scanner {
    width: 90%;
    max-width: 500px;
    height: 300px;
    margin: 20px auto;
    border: 2px solid #ccc;
  }
  
  .user-details {
    text-align: center;
  }
  
  .icon {
    margin-bottom: 15px;
  }
  
  .text-heading {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  
  .user-detail {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .scan-again-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  